.outline{
    width: 400px;
    height: 278px;
    background-image: url("pic-03.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    outline-color: rgb(200, 10, 248);
    outline-offset: 20px;
    box-sizing: border-box;
}
.outline,.div2{
    border: 10px solid blue;
    border-radius: 15px 0;
    padding: 10px;
    outline-style: solid;
    outline-width: 15px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.div2{
    width: 1000px;
    height: 550px;
    background-color: aqua;
    outline-color: chartreuse;
    outline-offset: 20px;
    box-sizing: border-box;
}
h1{
    color: blue;
}
.text1{
    color: #f409c5;
    text-align: justify;
    text-decoration: underline red solid 20%;
}
img{
    width: 40px;
    height: auto;
    vertical-align: super;
}
p{
    color: black;
    text-decoration: none;
}
.text2{
    text-transform: capitalize;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
}
.text3{
    text-transform: uppercase;
    font-family: 'Times New Roman', 'Times', 'serif';
}
.text4{
    text-transform: lowercase;
    font-family: 'Georgia', 'Times New Roman', 'Times';
}
.text5{
    line-height: 1.5;
    border: 2px solid red;
    padding: 5px;
    font-family: 'sofia';
    font-style: italic;
    font-weight: bold;
    font-size: 1em;
}
.text6{
    font-size: 20px;
    text-shadow: 1px 1px 1px black, 2px 2px 4px blue;
    font-family: 'Trirong', sans-serif;
    font-style: oblique;
}
.text7{
    font: italic small-caps bold 25px/15px 'sofia';
    color: red;
    text-align: center;
}
